### Import du dataset

In [2]:
# Chargement package
import pandas as pd
import numpy as np

In [1]:
# Connexion à ggdrive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [6]:
# Import du fichier via ggdrive
file_path = "/content/drive/MyDrive/M2_SISE/Python_M2/df_clean.csv" # Lien perso ggdrive
df_nett = pd.read_csv(file_path, sep = ',')

### Arbre

In [12]:
df_clean = df_nett.drop(columns=['Unnamed: 0'])
df_clean.head(2)

,iid_pid,iid,id,partner,pid,int_corr,age_o,pf_o_att,pf_o_sin,pf_o_int,...,samerace,race_o,field_cd,race,from,zipcode,goal,date,go_out,career_c
0,6804.0,453.0,14.0,10.0,439.0,48.0,29.0,20.0,10.0,50.0,...,0,2.0,1.0,4.0,"Shanghai, China","210,009",2.0,6.0,5.0,1.0
1,6803.0,453.0,14.0,9.0,438.0,31.0,23.0,14.0,15.0,16.0,...,0,2.0,1.0,4.0,"Shanghai, China","210,009",2.0,6.0,5.0,1.0

In [13]:
X = df_clean[df_clean.columns[5:]] # On enlève la colonne ID et la colonne CLASSE
X.pop('match')
X.pop('idg')
X.pop('from')
X.pop('zipcode')
y = df_clean.match # Colonne var à prédire

In [14]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6804 entries, 0 to 6803
Data columns (total 53 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   int_corr  6804 non-null   float64
 1   age_o     6804 non-null   float64
 2   pf_o_att  6804 non-null   float64
 3   pf_o_sin  6804 non-null   float64
 4   pf_o_int  6804 non-null   float64
 5   pf_o_fun  6804 non-null   float64
 6   pf_o_amb  6804 non-null   float64
 7   pf_o_sha  6804 non-null   float64
 8   attr_o    6804 non-null   float64
 9   sinc_o    6804 non-null   float64
 10  intel_o   6804 non-null   float64
 11  fun_o     6804 non-null   float64
 12  amb_o     6804 non-null   float64
 13  shar_o    6804 non-null   float64
 14  age       6804 non-null   float64
 15  imprace   6804 non-null   float64
 16  imprelig  6804 non-null   float64
 17  income    6804 non-null   float64
 18  sports    6804 non-null   float64
 19  tvsports  6804 non-null   float64
 20  exercise  6804 non-null   float64
 21  dining    6804 non-null   float64
 22  museums   6804 non-null   float64
 23  art       6804 non-null   float64
 24  hiking    6804 non-null   float64
 25  gaming    6804 non-null   float64
 26  clubbing  6804 non-null   float64
 27  reading   6804 non-null   float64
 28  tv        6804 non-null   float64
 29  theater   6804 non-null   float64
 30  movies    6804 non-null   float64
 31  concerts  6804 non-null   float64
 32  music     6804 non-null   float64
 33  shopping  6804 non-null   float64
 34  yoga      6804 non-null   float64
 35  exphappy  6804 non-null   float64
 36  expnum    6804 non-null   float64
 37  attr1_1   6804 non-null   float64
 38  sinc1_1   6804 non-null   float64
 39  intel1_1  6804 non-null   float64
 40  fun1_1    6804 non-null   float64
 41  amb1_1    6804 non-null   float64
 42  shar1_1   6804 non-null   float64
 43  gender    6804 non-null   int64
 44  condtn    6804 non-null   int64
 45  samerace  6804 non-null   int64
 46  race_o    6804 non-null   object
 47  field_cd  6804 non-null   object
 48  race      6804 non-null   object
 49  goal      6804 non-null   object
 50  date      6804 non-null   object
 51  go_out    6804 non-null   object
 52  career_c  6804 non-null   object
dtypes: float64(43), int64(3), object(7)
memory usage: 2.8+ MB

In [15]:
print(X.shape, y.shape)

(6804, 53) (6804,)

In [16]:
y.value_counts()

0    5658
1    1146
Name: match, dtype: int64

In [17]:
# Utilisation du model_selection de sklearn
import sklearn
from sklearn import model_selection
# Affichage de la version
print(sklearn.__version__)

1.0.2

In [18]:
X_dummy = pd.get_dummies(X, drop_first=True)

In [19]:
X_dummy.head(1)

,int_corr,age_o,pf_o_att,pf_o_sin,pf_o_int,pf_o_fun,pf_o_amb,pf_o_sha,attr_o,sinc_o,...,career_c_17.0,career_c_2.0,career_c_3.0,career_c_4.0,career_c_5.0,career_c_6.0,career_c_7.0,career_c_8.0,career_c_9.0,career_c_Missing value
0,48.0,29.0,20.0,10.0,50.0,5.0,10.0,5.0,3.0,10.0,...,0,0,0,0,0,0,0,0,0,0

In [20]:
X_dummy.shape

(6804, 109)

In [21]:
y = y.astype('int')

In [22]:
y

0       0
1       0
2       0
3       0
4       0
       ..
6799    1
6800    1
6801    1
6802    0
6803    0
Name: match, Length: 6804, dtype: int64

In [23]:
X_train, X_test, y_train, y_test = model_selection.train_test_split(X_dummy,y, train_size=0.7, random_state=0, stratify=y)

In [24]:
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(4762, 109) (2042, 109) (4762,) (2042,)

In [25]:
# Vérification de l'égalité de distribution entre y_app et y_test
y_train.value_counts(normalize=True)

0    0.831583
1    0.168417
Name: match, dtype: float64

In [26]:
# Vérification de l'égalité de distribution entre y_app et y_test
y_test.value_counts(normalize=True)

0    0.831538
1    0.168462
Name: match, dtype: float64

In [27]:
# Load libraries
import matplotlib.pyplot as plt
from sklearn.tree import DecisionTreeClassifier # Import Decision Tree Classifier
from sklearn.model_selection import train_test_split # Import train_test_split function
from sklearn import metrics #Import scikit-learn metrics module for accuracy calculation
from sklearn.metrics import confusion_matrix, ConfusionMatrixDisplay
from sklearn.metrics import precision_score

In [28]:
# Create Decision Tree classifer object
clf = DecisionTreeClassifier(random_state=0)

# Train Decision Tree Classifer
model = clf.fit(X_train,y_train)

#Predict the response for test dataset
y_pred = model.predict(X_test)

In [29]:
clf.get_params()

{'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': None,
 'max_leaf_nodes': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'random_state': 0,
 'splitter': 'best'}

In [30]:
pd.DataFrame(model.feature_importances_, index = X_train.columns, columns = ['Importance']).sort_values(by=['Importance', ],ascending=False)

                        Importance
fun_o                     0.076217
int_corr                  0.047825
pf_o_int                  0.045560
age_o                     0.044285
pf_o_amb                  0.039676
...                            ...
goal_6.0                  0.000000
goal_Missing value        0.000000
date_6.0                  0.000000
date_7.0                  0.000000
career_c_Missing value    0.000000

[109 rows x 1 columns]

In [31]:
precision_score(y_test,y_pred, pos_label = 1)

0.2838541666666667

In [32]:
print(metrics.classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.86      0.84      0.85      1698
           1       0.28      0.32      0.30       344

    accuracy                           0.75      2042
   macro avg       0.57      0.58      0.57      2042
weighted avg       0.76      0.75      0.76      2042

In [33]:
model2 = DecisionTreeClassifier(min_samples_split = 30, min_samples_leaf = 20)

# Train Decision Tree Classifer
model2.fit(X_train,y_train)

DecisionTreeClassifier(min_samples_leaf=20, min_samples_split=30)

In [34]:
y_pred2 = model2.predict(X_test)

In [35]:
print(metrics.classification_report(y_test,y_pred2))

              precision    recall  f1-score   support

           0       0.86      0.94      0.89      1698
           1       0.42      0.22      0.29       344

    accuracy                           0.82      2042
   macro avg       0.64      0.58      0.59      2042
weighted avg       0.78      0.82      0.79      2042