### Chargement Packages

In [1]:
# Chargement package
import pandas as pd
import numpy as np
from sklearn.impute import KNNImputer

### Fonctions

In [90]:
# Fonction recodage
def recodage_sub(dataset):
   # Liste des colonnes à transtyper en numeric
  var_tofloat = ['int_corr','income']

  for i in var_tofloat:
    dataset[i] = dataset[i].str.replace(",","")
    dataset[i] = pd.to_numeric(dataset[i], downcast="float")
  # Liste des colonnes à transtyper en object
  var_toobject = ['gender','idg', 'condtn','samerace','race_o','field_cd', 'race', 'goal','date', 'go_out', 'career_c','iid_pid','iid',	'id','partner','pid']

  for i in var_toobject:
    dataset[i] = dataset[i].astype("object")

  # Remove field career , codage de field et career
  df_res = dataset.drop(columns=['field', 'career','expnum'])

  return df_res

In [91]:
def remove_na(dataset):
  # Quanti
  df_quanti = dataset.select_dtypes(exclude='object').copy()
  imputer = KNNImputer(n_neighbors=2, weights="distance")
  df_quanti = pd.DataFrame(imputer.fit_transform(df_quanti), columns = df_quanti.columns)

  #print(df_quanti.info())
  # Quali 
  df_quali = dataset.select_dtypes(include='object').copy()
  #print(df_quali.info())
  df_quali.iloc[:,5:].fillna("Missing value", inplace = True)

  #print(df_quali.info())
  # Combinaison des deux datasets 
  df_clean = pd.concat([df_quanti, df_quali.reindex(df_quanti.index)], axis=1)

  print("Format : " )
  print(df_clean.shape)
  print("Nombre de NaN : ")
  print(df_clean.isna().sum().sum())
  return df_clean

In [9]:
def clean_data(dataset):
  data_reco = recodage_sub(dataset)


  data_res = remove_na(data_reco)
  return data_res

### Chargement Dataset

In [3]:
# Connexion à ggdrive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
# Import du fichier via ggdrive
file_path = "/content/drive/MyDrive/M2_SISE/Python_M2/submissions.csv" # Lien perso ggdrive
df_submissions = pd.read_csv(file_path, sep = ';')

In [6]:
df_submissions.head()

,iid_pid,iid,id,gender,idg,condtn,partner,pid,int_corr,samerace,...,shopping,yoga,exphappy,expnum,attr1_1,sinc1_1,intel1_1,fun1_1,amb1_1,shar1_1
0,6805,509,1.0,0,1,2,1,531,"-0,12",1,...,7.0,7.0,6.0,NaN,10.0,20.0,30.0,10.0,10.0,20.0
1,6806,509,1.0,0,1,2,2,532,"0,03",1,...,7.0,7.0,6.0,NaN,10.0,20.0,30.0,10.0,10.0,20.0
2,6807,509,1.0,0,1,2,3,533,"0,37",0,...,7.0,7.0,6.0,NaN,10.0,20.0,30.0,10.0,10.0,20.0
3,6808,509,1.0,0,1,2,4,534,"0,11",0,...,7.0,7.0,6.0,NaN,10.0,20.0,30.0,10.0,10.0,20.0
4,6809,509,1.0,0,1,2,5,535,"0,39",0,...,7.0,7.0,6.0,NaN,10.0,20.0,30.0,10.0,10.0,20.0

### Application des formules

In [95]:
df = df_submissions.copy()
dfsub_nett = clean_data(df)

Format :
(1574, 60)
Nombre de NaN :
1

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5182: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

In [96]:
dfsub_nett.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1574 entries, 0 to 1573
Data columns (total 60 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   int_corr  1574 non-null   float64
 1   age_o     1574 non-null   float64
 2   pf_o_att  1574 non-null   float64
 3   pf_o_sin  1574 non-null   float64
 4   pf_o_int  1574 non-null   float64
 5   pf_o_fun  1574 non-null   float64
 6   pf_o_amb  1574 non-null   float64
 7   pf_o_sha  1574 non-null   float64
 8   attr_o    1574 non-null   float64
 9   sinc_o    1574 non-null   float64
 10  intel_o   1574 non-null   float64
 11  fun_o     1574 non-null   float64
 12  amb_o     1574 non-null   float64
 13  shar_o    1574 non-null   float64
 14  age       1574 non-null   float64
 15  imprace   1574 non-null   float64
 16  imprelig  1574 non-null   float64
 17  income    1574 non-null   float64
 18  sports    1574 non-null   float64
 19  tvsports  1574 non-null   float64
 20  exercise  1574 non-null   float64
 21  dining    1574 non-null   float64
 22  museums   1574 non-null   float64
 23  art       1574 non-null   float64
 24  hiking    1574 non-null   float64
 25  gaming    1574 non-null   float64
 26  clubbing  1574 non-null   float64
 27  reading   1574 non-null   float64
 28  tv        1574 non-null   float64
 29  theater   1574 non-null   float64
 30  movies    1574 non-null   float64
 31  concerts  1574 non-null   float64
 32  music     1574 non-null   float64
 33  shopping  1574 non-null   float64
 34  yoga      1574 non-null   float64
 35  exphappy  1574 non-null   float64
 36  attr1_1   1574 non-null   float64
 37  sinc1_1   1574 non-null   float64
 38  intel1_1  1574 non-null   float64
 39  fun1_1    1574 non-null   float64
 40  amb1_1    1574 non-null   float64
 41  shar1_1   1574 non-null   float64
 42  iid_pid   1574 non-null   object
 43  iid       1574 non-null   object
 44  id        1573 non-null   object
 45  gender    1574 non-null   object
 46  idg       1574 non-null   object
 47  condtn    1574 non-null   object
 48  partner   1574 non-null   object
 49  pid       1574 non-null   object
 50  samerace  1574 non-null   object
 51  race_o    1574 non-null   object
 52  field_cd  1574 non-null   object
 53  race      1574 non-null   object
 54  from      1574 non-null   object
 55  zipcode   1574 non-null   object
 56  goal      1574 non-null   object
 57  date      1574 non-null   object
 58  go_out    1574 non-null   object
 59  career_c  1574 non-null   object
dtypes: float64(42), object(18)
memory usage: 737.9+ KB

In [97]:
dfsub_nett.shape

(1574, 60)

### Export

In [98]:
from google.colab import files
dfsub_nett.to_csv('dfsub_clean.csv') 
files.download('dfsub_clean.csv')