### Chargement Packages

In [1]:
# Chargement package
import pandas as pd
import numpy as np
from sklearn.impute import KNNImputer

### Fonctions

In [16]:
# Fonction recodage
def recodage_sub(dataset):

  dataset = dataset.drop(columns=['career','expnum','field','from','id','idg','iid','partner', 'pid','zipcode'])

  
   # Liste des colonnes à transtyper en numeric
  var_tofloat = ['int_corr','income']

  for i in var_tofloat:
    dataset[i] = dataset[i].str.replace(",","")
    dataset[i] = pd.to_numeric(dataset[i], downcast="float")
  # Liste des colonnes à transtyper en object
  var_toobject = ['iid_pid','gender', 'condtn','samerace','race_o','field_cd', 'race', 'goal','date', 'go_out', 'career_c']
  for i in var_toobject:
    dataset[i] = dataset[i].astype("object")

  colnames_categ = dataset.select_dtypes(include = 'object').columns.tolist()
  colnames_float = dataset.select_dtypes(exclude = 'object').columns.tolist()
  joined_colnames = colnames_categ + colnames_float

  dataset = dataset.reindex(columns=joined_colnames)
  # Remove field career , codage de field et career
  df_res = dataset
  return df_res

In [27]:
def remove_na(dataset):
  # Séparation entre plusieurs df pour traiter les NA
  
  # Quanti
  df_quanti = dataset.select_dtypes(exclude='object').copy()
  imputer = KNNImputer(n_neighbors=3, weights="distance")
  df_quanti = pd.DataFrame(imputer.fit_transform(df_quanti), columns = df_quanti.columns)

  #print(df_quanti.info())
  # Quali 
  df_quali = dataset.select_dtypes(include='object').copy()
  #print(df_quali.info())
  df_quali.iloc[:,1:].fillna(99, inplace = True)

  #print(df_quali.info())
  # Combinaison des deux datasets 
  df_clean = pd.concat([df_quali, df_quanti.reindex(df_quali.index)], axis=1)

  print("Format : " )
  print(df_clean.shape)
  print("Nombre de NaN : ")
  print(df_clean.isna().sum().sum())
  return df_clean

In [24]:
def clean_data(dataset):
  data_reco = recodage_sub(dataset)


  data_res = remove_na(data_reco)
  return data_res

### Chargement Dataset

In [2]:
# Connexion à ggdrive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [8]:
# Import du fichier via ggdrive
file_path = "/content/drive/MyDrive/M2_SISE/Python_M2/submissions.csv" # Lien perso ggdrive
df_submissions = pd.read_csv(file_path, sep = ';')

In [8]:
df_submissions.head()

,iid_pid,iid,id,gender,idg,condtn,partner,pid,int_corr,samerace,...,shopping,yoga,exphappy,expnum,attr1_1,sinc1_1,intel1_1,fun1_1,amb1_1,shar1_1
0,6805,509,1.0,0,1,2,1,531,"-0,12",1,...,7.0,7.0,6.0,NaN,10.0,20.0,30.0,10.0,10.0,20.0
1,6806,509,1.0,0,1,2,2,532,"0,03",1,...,7.0,7.0,6.0,NaN,10.0,20.0,30.0,10.0,10.0,20.0
2,6807,509,1.0,0,1,2,3,533,"0,37",0,...,7.0,7.0,6.0,NaN,10.0,20.0,30.0,10.0,10.0,20.0
3,6808,509,1.0,0,1,2,4,534,"0,11",0,...,7.0,7.0,6.0,NaN,10.0,20.0,30.0,10.0,10.0,20.0
4,6809,509,1.0,0,1,2,5,535,"0,39",0,...,7.0,7.0,6.0,NaN,10.0,20.0,30.0,10.0,10.0,20.0

### Application des formules

In [31]:
df_submissions.head(2)

,iid_pid,iid,id,gender,idg,condtn,partner,pid,int_corr,samerace,...,shopping,yoga,exphappy,expnum,attr1_1,sinc1_1,intel1_1,fun1_1,amb1_1,shar1_1
0,6805,509,1.0,0,1,2,1,531,"-0,12",1,...,7.0,7.0,6.0,NaN,10.0,20.0,30.0,10.0,10.0,20.0
1,6806,509,1.0,0,1,2,2,532,"0,03",1,...,7.0,7.0,6.0,NaN,10.0,20.0,30.0,10.0,10.0,20.0

In [28]:
df = df_submissions.copy()
dfsub_nett = clean_data(df)

Format :
(1574, 53)
Nombre de NaN :
0

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5182: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

In [29]:
dfsub_nett.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1574 entries, 0 to 1573
Data columns (total 53 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   iid_pid   1574 non-null   object
 1   gender    1574 non-null   object
 2   condtn    1574 non-null   object
 3   samerace  1574 non-null   object
 4   race_o    1574 non-null   object
 5   field_cd  1574 non-null   object
 6   race      1574 non-null   object
 7   goal      1574 non-null   object
 8   date      1574 non-null   object
 9   go_out    1574 non-null   object
 10  career_c  1574 non-null   object
 11  int_corr  1574 non-null   float64
 12  age_o     1574 non-null   float64
 13  pf_o_att  1574 non-null   float64
 14  pf_o_sin  1574 non-null   float64
 15  pf_o_int  1574 non-null   float64
 16  pf_o_fun  1574 non-null   float64
 17  pf_o_amb  1574 non-null   float64
 18  pf_o_sha  1574 non-null   float64
 19  attr_o    1574 non-null   float64
 20  sinc_o    1574 non-null   float64
 21  intel_o   1574 non-null   float64
 22  fun_o     1574 non-null   float64
 23  amb_o     1574 non-null   float64
 24  shar_o    1574 non-null   float64
 25  age       1574 non-null   float64
 26  imprace   1574 non-null   float64
 27  imprelig  1574 non-null   float64
 28  income    1574 non-null   float64
 29  sports    1574 non-null   float64
 30  tvsports  1574 non-null   float64
 31  exercise  1574 non-null   float64
 32  dining    1574 non-null   float64
 33  museums   1574 non-null   float64
 34  art       1574 non-null   float64
 35  hiking    1574 non-null   float64
 36  gaming    1574 non-null   float64
 37  clubbing  1574 non-null   float64
 38  reading   1574 non-null   float64
 39  tv        1574 non-null   float64
 40  theater   1574 non-null   float64
 41  movies    1574 non-null   float64
 42  concerts  1574 non-null   float64
 43  music     1574 non-null   float64
 44  shopping  1574 non-null   float64
 45  yoga      1574 non-null   float64
 46  exphappy  1574 non-null   float64
 47  attr1_1   1574 non-null   float64
 48  sinc1_1   1574 non-null   float64
 49  intel1_1  1574 non-null   float64
 50  fun1_1    1574 non-null   float64
 51  amb1_1    1574 non-null   float64
 52  shar1_1   1574 non-null   float64
dtypes: float64(42), object(11)
memory usage: 651.9+ KB

In [32]:
dfsub_nett.shape

(1574, 53)

### Export

In [33]:
from google.colab import files
dfsub_nett.to_csv('sub_clean.csv') 
files.download('sub_clean.csv')